@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white;
  }
  
  .print\:hidden {
    display: none;
  }
  
  input, textarea {
    border: none !important;
    padding: 0 !important;
  }
  
  .shadow-md {
    box-shadow: none !important;
  }
}
